<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Title</title>
</head>
<body>
<h1>게시판 - 보기</h1>

<div>
    <!-- 게시글 -->
    <th:block th:if="${postDto != null}">
        <div>
            <p th:text="${postDto.name}"></p>
            <p th:text="${postDto.createDate}"></p>
            <p th:text="${postDto.updateDate}"></p>
        </div>
        <div>
            <h3>
                <p th:text="'[' + ${postDto.categoryName} + ']'"></p>
                <p th:text="${postDto.title}"></p>
                <p th:text="${postDto.viewCount}"></p>
            </h3>
        </div>
        <div>
            <p th:text="${postDto.content}"></p>
        </div>
    </th:block>
</div>

<!-- 저장된 파일 -->
<div>
    <th:block th:if="${fileList != null}">
        <th:block th:each="file : ${fileList}">
            <a th:href="@{/download/{fileId}(fileId=${file.fileId})}"
               th:text="${file.fileOriginalName}"></a><br />
        </th:block>
    </th:block>
</div>

<!-- 댓글 -->
<div>
    <th:block th:if="${commentList != null}">
        <th:block th:each="comment : ${commentList}">
            <div>
                <p th:text="${comment.createDate}"></p>
                <p th:text="${comment.content}"></p>
            </div>
        </th:block>
    </th:block>

    <!-- 댓글 추가 -->
    <form method="post" action="add/comment">
        <input type="text" name="content" placeholder="댓글을 입력해 주세요." />
        <th:block th:if="${postDto != null}">
            <input type="hidden" name="postId" th:value="${postDto.postId}" />
        </th:block>
        <button type="submit">등록</button>
    </form>
</div>

<div>
    <button onclick="location.href='/'">목록</button>
    <button onclick="location.href='modify.do'">수정</button>
    <button onclick="deleteBtnClick()">삭제</button>
</div>

<div class="checkDelete" style="display: none;">
    <!-- 비밀번호 확인 폼 -->
    <form method="post" action="/delete">
        <p>*비밀번호 확인*</p>
        <input type="password" name="inputPassword" placeholder="비밀번호를 입력하세요." />
        <th:block th:if="${postDto != null}">
            <input type="hidden" name="postId" th:value="${postDto.postId}" />
        </th:block>
        <button type="submit">확인</button>
    </form>
</div>

<script>
    // 비밀번호 삭제 폼 토글 함수
    const deleteBtnClick = () => {
        $('.checkDelete').toggle();
    }
</script>
</body>
</html>
