<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Title</title>
</head>
<body>

<h1 th:text="'자유게시판 - 수정'"></h1><br/>

<form id="update" method="post" action="/update" enctype="multipart/form-data" th:object="${postDto}">
    <input type="hidden" th:field="${postDto.postId}">
    <p>
        <label>Category:
            <select name="categoryId" id="categoryId" th:field="${postDto.categoryId}">
                <th:block th:if="${categoryList != null}">
                    <th:block th:each="category : ${categoryList}">
                        <option th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
                    </th:block>
                </th:block>
            </select>
        </label>
    </p>

    <p>
        <label>create:
            <input type="hidden" th:field="${postDto.createDate}">
            <p th:text="${postDto.createDate}"></p>
        </label>
    </p>

    <p>
        <label>update:
            <input type="hidden" th:field="${postDto.updateDate}">
            <p th:text="${postDto.updateDate}"></p>
        </label>
    </p>

    <p>
        <label>viewCount:
            <input type="hidden" th:field="${postDto.viewCount}">
            <p th:text="${postDto.viewCount}"></p>
        </label>
    </p>

    <p>
        <label>Name:
            <input type="text" name="name" id="name" th:field="${postDto.name}"><br />
            <div class="field-error" th:errors="*{name}"></div>
        </label>
    </p>

    <p>
        <label>Password:
            <input type="password" name="password" id="password" placeholder="비밀번호"><br />
            <div class="field-error" th:errors="*{password}"></div>
        </label>
    </p>

    <p>
        <label>Title:
            <input type="text" name="title" id="title" th:field="${postDto.title}"><br />
            <div class="field-error" th:errors="*{title}"></div>
        </label>
    </p>

    <p>
        <label>Content:
            <input type="text" name="content" id="content" th:field="${postDto.content}"><br />
            <div class="field-error" th:errors="*{content}"></div>
        </label>
    </p>

    <p>
        <label>File:
            <div id="preview">
                <!-- File preview will be updated here -->
                <th:block th:if="${fileList != null}">
                    <th:block th:each="file : ${fileList}">
                        <div>
                            <p th:text="${file.fileOriginalName}"></p>
                            <button th:onclick="|loaction.href='@{/download/{fileId}(fileId=${file.fileId})}'|">download</button>
                            <button th:attr="data-id=${file.fileId}" class="add-remove-file-list">X</button>
                        </div>
                    </th:block>
                </th:block>

            </div>
            <p>
                <input type="file" name="files" id="file-input" multiple />
            </p>
        </label>
    </p>
    <div>
        <div id="remove-file-list">

        </div>
        <p>
            <button type="submit">수정</button>
        </p>
    </div>
</form>

<script>
    const fileInput = $('#file-input');
    const preview = $('#preview');

    let removeFileList = [];

    // 파일 추가
    $(document).on('change', fileInput, (e) => {
        const fileList = e.target.files;
        $(fileList).each((index, file) => {
            const lastModified = file.lastModified;
            const name = file.name;

            const view = '<p id="' + lastModified + '">' + name +
                '<button data-index="' + lastModified +
                '" class="file-remove">X</button></p>';

            preview.append(view);
        });
    });

    // 파일 제거
    $(document).on('click', '.file-remove', (e) => {
        e.preventDefault();

        const removeTargetId = e.target.dataset.index;
        const removeTarget = document.getElementById(removeTargetId);
        const fileList = fileInput[0].files;
        const dataTransfer = new DataTransfer();

        $(fileList).filter((index, file) => file.lastModified != removeTargetId)
            .each((index, file) => {
                dataTransfer.items.add(file);
            });

        fileInput[0].files = dataTransfer.files;

        removeTarget.remove();
    });

    $(document).on('click', '.add-remove-file-list', (e) => {
        e.preventDefault();

        const fileId = e.target.dataset.id;

        console.log(removeFileList);

        if(!removeFileList.includes(fileId)){
            removeFileList.push(fileId);
            $(e.target).parent().css("opacity", "0.5");
        } else {
            removeFileList = removeFileList.filter((element) => element !== fileId);
            $(e.target).parent().css("opacity", "1");
        }
        console.log(removeFileList);
    });

    $(document).on('submit', '#update', (e) => {
        removeFileList.forEach((element) => {
            let add = `<input type="hidden" name="removeFileList" value="` + element + `">`;
            $('#remove-file-list').append(add);
        })
    })
</script>

</body>
</html>
