<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>글작성 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>게시판 관리</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>글작성</span></p>
    </div>

    <div class="content">
        <section>
            <form id="saveForm" method="post" autocomplete="off">
                <!--/* 게시글 수정인 경우, 서버로 전달할 게시글 번호 (PK) */-->
                <input type="hidden" id="postId" name="postId" th:if="${postDto != null}" th:value="${postDto.postId}" />

                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                    </colgroup>
                    <tbody>

                    <tr>
                        <th scope="row">카테고리 <span class="es">필수 입력</span></th>
                        <td colspan="3"><select name="categoryId" id="categoryId">
                            <th:block th:each="category : ${categoryList}">
                                <option th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
                            </th:block>
                        </select></td>
                    </tr>

                    <tr>
                        <th>작성자 <span class="es">필수 입력</span></th>
                        <td colspan="3"><input type="text" id="writer" name="writer" maxlength="10" placeholder="이름을 입력해 주세요." /></td>
                    </tr>

                    <tr>
                        <th scope="row">비밀번호 <span class="es">필수 입력</span></th>
                        <td colspan="3"><input type="password" id="password" name="password" maxlength="16" placeholder="비밀번호를 입력해 주세요." /></td>
                    </tr>

                    <tr>
                        <th scope="row">비밀번호 확인 <span class="es">필수 입력</span></th>
                        <td colspan="3"><input type="password" id="checkPassword" name="checkPassword" maxlength="16" placeholder="비밀번호 확인" /></td>
                    </tr>

                    <tr>
                        <th>제목 <span class="es">필수 입력</span></th>
                        <td colspan="3"><input type="text" id="title" name="title" maxlength="50" placeholder="제목을 입력해 주세요." /></td>
                    </tr>

                    <tr>
                        <th>내용 <span class="es">필수 입력</span></th>
                        <td colspan="3"><textarea id="content" name="content" cols="50" rows="10" placeholder="내용을 입력해 주세요."></textarea></td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <p class="btn_set">
                <button type="button" id="saveBtn" onclick="savePost();" class="btns btn_st3 btn_mid">저장</button>
                <a th:href="@{/}" class="btns btn_bdr3 btn_mid">뒤로</a>
            </p>
        </section>
    </div> <!--/* .content */-->
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        window.onload = () => {
            renderPostInfo();
        }


        const renderPostInfo = () => {
            const post = [[ ${postDto} ]];

            if ( !post ) {
                return false;
            }

            const form = document.getElementById('saveForm');
            const fields = ['postId', 'categoryId','writer','title', 'content'];

            fields.forEach(field => {
                form[field].value = post[field];
            })
        }


        // 게시글 저장(수정)
        function savePost() {
            const form = document.getElementById('saveForm');
            const fields = [form.title, form.writer, form.content, form.categoryId, form.password, form.checkPassword];
            const fieldNames = ['카테고리번호', '이름', '비밀번호', '비밀번호확인', '제목', '내용'];

            for (let i = 0, len = fields.length; i < len; i++) {
                isValid(fields[i], fieldNames[i]);
            }

            document.getElementById('saveBtn').disabled = true;
            form.action = [[ ${postDto == null} ]] ? '/post/save' : '/post/update';
            form.submit();
        }

        /*]]>*/
    </script>
</th:block>
</html>